- unless @<%= plural_resource_name %>.empty?
  %ul.horizontal_items
    %li= link_to t('sort.by_position'), admin_<%= plural_resource_name %>_path, :class => "bright_link"
    %li= link_to t('sort.make_default'), sort_admin_<%= plural_resource_name %>_path, :id => 'sort_button', :confirm => t('confirm.sort.make_default'), :class => "bright_link"