- content_for(:page_header) do
  %p= link_to "Добавить <%= resource_name %>", new_admin_<%= singular_controller_routing_path %>_path, :class => "bright_link"
  %h1= link_to '<%= plural_resource_name %>', admin_<%= plural_resource_name %>_path
-#= paginate @<%= plural_resource_name %>
<%= if column_names.include?("sort")
  "= render 'sort_buttons' "
end %>
  #index_wr
    <%= "= render 'index' " %>