:plain
  $("#index_wr").html("#{ escape_javascript render "index" }");
  $('.asc').append(" &darr;");
  $('.desc').append(" &uarr;");

  $('.horizontal_items').show();
  $('td.handle, th.position').hide();
