.image-list#<%=plural_resource_name%>
  = render @<%=parent_name%>.<%=plural_resource_name%>.order('position')
  = image_sortable("<%=plural_resource_name%>")

.image_upload_form.bordered_box
  %h3 Загрузить изображения
  = uploader(@<%=parent_name%>, <%=@model_name.demodulize%>)